.arrows{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 45%;
    padding: 0 25px;
}

.arrow-left, .arrow-right{
    padding: 0 25px;
    position: absolute;
    top: 45%;
    color: lightgray;
    cursor: pointer;
    font-size: 2.5rem;
    opacity: 1;
}

.arrow-left{
    left: 0;
}

.arrow-right{
    right: 0;
}

.arrow-left:hover{
    transform: translateX(-3px);
    color: #1bb600;
}

.arrow-right:hover{
    transform: translateX(3px);
    color:  #1bb600;
}